{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
      <link href="{% static "css/base.css" %}" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <span class="logo"><a href="{% url 'main' %}">Django Social Network</a></span>
      {% if request.user.is_authenticated %}
        <ul class="menu">
        <li {% if current_section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url "dashboard" %}">My dashboard</a>
        </li>
        <li {% if current_section == "profile" %}class="selected"{% endif %}>
          <a href="{% url "profiles:me" %}">My profile</a>
        </li>
        <li {% if current_section == "images" %}class="selected"{% endif %}>
          <a href="#">Images</a>
        </li>
        <li {% if current_section == "people" %}class="selected"{% endif %}>
          <a href="#">People</a>
        </li>
        </ul>
      {% endif %}

      <span class="user">
        {% if request.user.is_authenticated %}
          Привет {{ request.user.first_name }},
          <a href="{% url "logout" %}">выход</a>
        {% else %}
          <a href="{% url "login" %}">Вход</a>
          <a href="{% url "register" %}">Регистрация</a>
        {% endif %}
      </span>
    </header>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">x</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>